<div class="panel panel-default" ng-controller="PollCtrl as poll">
  <div class="panel-body">
    <h1 class="text-center">{{ poll.title }}</h1>
    <div class="row">
      <div class="col-md-4">
        <a ng-show="poll.angularEquals(userId, poll.owner)" ng-click='poll.remove()'class="btn btn-block btn-danger">Delete Poll</a><br/>
        <a href="https://twitter.com/intent/tweet?text={{poll.share}}" class="btn btn-block" style="background: #4099FF; color: #fff;">Share on Twitter</a><br/>

        <div ng-show="poll.added" class="alert alert-{{ poll.alert }}">{{ poll.addedMessage }}</div>
        <ul class="list-group">
          <a href="" ng-repeat="item in poll.options" ng-click="poll.vote(item.name)" class="list-group-item">{{ item.name }} <span class="badge"> {{ item.votes.length }}</span></a>
        </ul>


        <div ng-show="poll.optionAdded" class="alert alert-{{ poll.optionAlert }}">{{ poll.optionAddedMessage }}</div>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="poll.newOption"placeholder="New option">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="poll.addOption(poll.newOption)">Add</button>
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <canvas id="base" class="chart chart-base" chart-type="poll.type" chart-data="poll.data" chart-labels="poll.labels" chart-legend="true"></canvas>
      </div>
    </div>
  </div>
</div>
