<div class="text-center" ng-controller="RegisterCtrl as register" ng-hide="loggedIn">
    <h1>{{ register.title }}</h1>
    <form ng-submit="register.submit(form)" method="post">
        <div class="col-md-6 col-md-offset-3">
            <div ng-show="register.error" class="alert alert-danger">{{ register.errorMessage }}</div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="form.name" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="form.email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="form.password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="form.passwordConfirm" placeholder="Repeat password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-md-8 col-md-offset-2">Register</button>
            </div>
        </div>
    </form>
</div>